<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.a.luxurycar">
<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".common.application.LuxuryCarApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_main_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.LuxuryCar">
        <activity
            android:name=".code_files.ui.auth.AuthActivity"
            android:exported="false" />
        <activity
            android:name=".code_files.ui.home.HomeActivity"
            android:exported="true">


        </activity>
        <activity
            android:name=".code_files.ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>